{% extends 'base.html.twig' %}

{% block title %}Commentarys index{% endblock %}

{% block body %}
    <h1>Commentarys index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>TricksId</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentary in commentarys %}
            <tr>
                <td>{{ commentary.id }}</td>
                <td>{{ commentary.userId }}</td>
                <td>{{ commentary.tricksId }}</td>
                <td>{{ commentary.content }}</td>
                <td>{{ commentary.createdAt ? commentary.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_commentary_show', {'id': commentary.id}) }}">show</a>
                    <a href="{{ path('app_commentary_edit', {'id': commentary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentary_new') }}">Create new</a>
{% endblock %}
