{% extends 'base.html.twig' %}

{% block title %}
    SnowTricks | Accueil
{% endblock %}

{% block body %}
    <div class="bloc-homepage">
        <div class="bloc-img container-fluid">
            <div class="text-bloc-img ">
                <h1> SnowTricks</h1>
                <h2>Le <strong>snowboard</strong> c’est juste pour le fun... <br>Bienvenue dans l'univers des <strong>Riders</strong>
                </h2>
            </div>
            <a href="#list-tricks"><img class="icon-down" src="/img/icons/down-arrow.png" alt="icon-down"></a>
        </div>
        <hr class="separator-list-homepage" id="list-tricks">
        <h3 class="title-list-homepage">Tous les Tricks</h3>
        <h4 class="subtitle-list-homepage">Prenez part à la communauté en ajoutant ou en modifiant des tricks</h4>
        <hr class="separator-list-homepage">
        {% if app.user %}
        <div class="bloc-btn-new-tricks">
            <a class="btn btn-primary" href="{{ path('app_tricks_new') }}">Ajouter une nouvelle figure</a>
        </div>
        {% endif %}

        <div class="bloc-list-tricks">
            {% for trick in tricks %}
                <div class="trick-card ">
                    {% if trick.poster is empty %}
                        <img class="img-trick-card" src="/img/default-img" alt="img-trick-card">
                    {% endif %}
                    {% if trick.poster is not empty %}
                    <img class="img-trick-card" src="/uploads/images/{{ trick.poster }}" alt="img-trick-card">
                    {% endif %}
                    <div class="footer-trick-card">
                        <div class="col-8 title-card">
                            <a href="{{ path('app_tricks_show', {'id': trick.id}) }}" target="_blank">
                                <h5>{{ trick.name }}</h5></a>
                            <h6>Catégorie : {{ trick.categorie | capitalize }}</h6>
                        </div>
                        {% if app.user %}
                        <div class="col-4 bloc-btn-footer-card">
                            <a href="{{ path('app_tricks_edit', {'id': trick.id}) }}" target="_blank"><img
                                        class="icon-card" alt="btn-edit" title="éditer un trick"
                                        src="/img/icons/edit.png"></a>
                            <a href="{{ path('app_tricks_delete', {'id': trick.id}) }}" target="_blank"><img
                                        class="icon-card" alt="btn-delete"
                                        title="supprimer un trick"
                                        src="/img/icons/delete.png"></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
