{% extends 'base.html.twig' %}

{% block title %}SnowTricks | {{ trick.name }}{% endblock %}

{% block body %}
    <div class="bloc-details-tricks">

        <div class="bloc-title-details-tricks">
            <div class="poster col-12" style="background-image: url('/uploads/poster/{{ trick.poster }}') ">


                <div class="title-poster ">
                    <h1>{{ trick.name }}</h1>
                </div>
            </div>
        </div>

        <div class="bloc-info-details-tricks">
            <p class="info-tricks col-xl-3 col-lg-3 col-sm-3">créé le
                : {{ trick.createdAt ? trick.createdAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }} par <span
                        class="orange-bold-span">{{ trick.user.name }}</span></p>
            {% if trick.modifiedAT is empty %}
                <p class="info-tricks col-xl-3 col-lg-3 col-sm-3">Aucune modification n'a été effectuée</p>
            {% endif %}
            {% if trick.modifiedAT is not empty %}
                <p class="info-tricks col-xl-3 col-lg-3 col-sm-3">Dernière modification le
                    : {{ trick.modifiedAt ? trick.modifiedAt|format_datetime(locale='fr') }}</p>
            {% endif %}
            <p class="info-tricks col-xl-3 col-lg-3 col-sm-3">Catégorie : <span
                        class="orange-bold-span"> {{ trick.categorie | capitalize }}</span></p>
        </div>

    </div>

    <h1 class="edit-title">Modifier la figure</h1>

    <div class="form-edit-tricks ">
        {{ form_start(form,{'attr':{'id' : 'form-modify-trick'}}) }}
        <div class="div-form-edit-trick">{{ form_row(form.name) }}</div>
        <div class="div-form-edit-trick-description">{{ form_row(form.description) }}</div>
        <div class="div-form-edit-trick">{{ form_row(form.imageFile) }}</div>
        <div class="div-form-edit-trick">{{ form_row(form.categorie) }}</div>
        <div class="form-button">
            <button class="btn btn-primary">{{ button_label|default('Mettre à jour') }}</button>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="link-list"><a href="{{ path('app_trick_index') }}">Retour à la liste des figures</a></div>

    <div class="link-delete">{{ include('tricks/_delete_form.html.twig') }}</div>
{% endblock %}







