{% extends 'base.html.twig' %}

{% block title %}SnowTricks | Liste des figures{% endblock %}

{% block body %}
    <div class="bloc-index-trick">

        <h1>Liste des figures</h1>
        {% if app.user %}
        <div class="link-create-trick"><a class="btn btn-primary" href="{{ path('app_tricks_new') }}">Créer une nouvelle
                figure</a>
        </div>
        {% endif %}
        {% for trick in tricks %}
            <div class="bloc-tricks">
                <a class="info-list-trick " href="{{ path('app_tricks_show', {'id': trick.id}) }}" target="_blank">
                    <h2 class="p-2 back-grey">{{ trick.name }}</h2>
                    <div class="absolute-div">
                        <h3>Voir la figure</h3>
                    </div>
                </a>
                <div class="footer-bloc-tricks back-grey">
                    <p>Catégorie : <strong>{{ trick.categorie }}</strong></p>
                    <p class="info-tricks">créé le
                        : {{ trick.createdAt ? trick.createdAt|format_datetime(locale='fr',pattern="dd MMMM YYYY") }} par <span
                                class="orange-bold-span">{{ trick.user.name }}</span></p>
                    {% if app.user %}
                        <div class="bloc-action-list-tricks">
                            <a href="{{ path('app_tricks_edit', {'id': trick.id}) }}" target="_blank"><img
                                        class="icon-card-index"
                                        alt="btn-edit"
                                        title="éditer un trick"
                                        src="/img/icons/edit.png"></a>
                            <a href="{{ path('app_tricks_delete', {'id': trick.id}) }}" target="_blank"><img
                                        class="icon-card-index" alt="btn-delete"
                                        title="supprimer un trick"
                                        src="/img/icons/delete.png"></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div>
                <p>Aucun résultat trouvé</p>
            </div>
        {% endfor %}


    </div>
{% endblock %}
